
.slick-prev:before {
   content: "" !important; /* Remove default Slick arrow */
}

.slick-next:before { 
  content: "" !important; /* Remove default Slick arrow */
}
.custom-arrow {
    z-index: 20; /* Ensure it's visible */
  }
  
  

